bootstrap_project_id = "fintech-bootstrap"
region               = "us-central1"
state_bucket_name    = "fintech-tfstate-REPLACE_WITH_UNIQUE_SUFFIX"

github_org   = "arun-territory"
github_repos = ["demo-live-project", "infra-gcp-terraform"]

managed_project_ids = [
  "fintech-dev",
  "fintech-uat",
  "fintech-prod",
]
